*{
    box-sizing: border-box;
  }
  
  
  body,html{
    display: flex;
    flex-direction: column;
    background-color: #F6F4F2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  /* Additional styles for color circles */
  .color-circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  /* Header CSS */
  #header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 14px 80px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: .5px solid #8D8D91;
    height: 50px;
    background-color: #F6F4F2;
    z-index: 999;
  }
  .logo{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5.984px;
  }
  .logo .monvvo-logo{
    width: 127.2px;
    height: 19.2px;
  }
  #nav{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 30px;
  }
  #nav .nav-link{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #6C6C70;
    text-decoration: none;
  }
  #nav .nav-link-active{
    font-weight: 500;
    color: #175134;
  }
  .contact-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
  .contact-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #175134;
    color: #fff;
    border-radius: 3px;
    padding: 8px 12px;
    text-decoration: none;
  }
  .contact-btn:hover{
    transition: all .3s ease-in-out;
    background-color: #20894D;
  }
  
  .mobile-btn{
    display: none;
    width: 30px;
    height: 30px;
    margin: 30px;
    cursor: pointer;
  }
  .mobile-btn.disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    width: 80%; /* Adjust width as needed */
    height: 100%;
    background-color: #F6F4F2;
    border-right: 0.5px solid #ddd;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: left 0.3s ease-in-out; /* Smooth slide-in effect */
  }
  .mobile-menu.active {
    left: 0; /* Slide in */
  }
  
  .mobile-close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  .mobile-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
  }
  .mobile-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    color: #232525;
    padding: 5px;
    margin: 5px 10px;
    text-decoration: none;
    cursor: pointer;
  }
  .mobile-nav .mobile-contact{
    color: #20894D;
  }
  #menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 998; /* Place it below the mobile menu but above the content */
    display: none; /* Hide it by default */
  }
  
  /* Main CSS */
  .top-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #1C2939;
    min-height: 250px;
    padding: 40px;
  }
  #title{
    font-family: "Times New Roman", serif;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    align-self: stretch;
    margin-bottom: 0;
  }
  
  .main-title{
    font-weight: 600;
    color: #f8f8f8;
  }
  .page-title{
    font-family: 'Times New Roman', serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .page-title-light{
    color: #232525;
  }
  
  .page-title-dark{
    color: #f8f8f8;
  }
  
.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #f8f8f8;
    margin-top: 10px;
  }
  .contact-section{
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
  }
  .contact-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #232525;
    margin-bottom: 20px;
  }
  .contact-title{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #232525;
    margin-bottom: 15px
  }
  .contact-list{
    margin-left: 30px;
  }
  .contact-list li{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #232525;
    margin-bottom: 10px;
  }
  .contact-list a{
    font-weight: 400;
    cursor: pointer;
    color: #20894D;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    background-color: transparent;
    border-radius: 1px;
    max-width: 600px;
    margin: 30px auto 0 auto;
    padding: 20px;
  }
  .contact-form .input-fluid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .contact-form label{
    font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #6C6C70;
  }
  .contact-form input{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #232525;
    border-radius: 0 !important;
    padding: 10px;
  }
  .contact-form textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #232525;
    border-radius: 0 !important;
    padding: 10px;
    resize: none;
  }
  .contact-form input:active, .contact-form textarea:active{
    border-bottom: none !important;
    outline: 1px solid #232525;
    border-radius: 8px;
  }
  .contact-form .contact-submit{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 50%;
    min-width: 300px;
    padding: 15px 25px;
    background-color: #20894D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .contact-form .contact-submit:hover{
    opacity: .9;
    transition: .4s ease-in-out;
  }
  
  /* Contact FAQ CSS */
  .faq-section{
    width: 100%;
    background-color: #1C2939;
    padding: 25px 5%;

  }
  .faq-item{
    position: relative;
    width: 100%;
    margin: 0 auto 25px auto;
  }
  .faq-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
  }
  .faq-arrow{
    margin: 8px 0 0 15px;
    width: 18px;
    height: 18px;
  }
  .faq-arrow.active {
    transform: rotate(180deg);
    margin-top: 6px;
}
  .faq-text{
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
    color: #f8f8f8;
    margin: 0 0 25px 5px;
    padding-right: 35px;
    max-width: 800px;
  }
  .faq-text b{
    font-weight: 500;
    display: inline;
  }
  .faq-text b, .faq-text ul{
    font-family: inherit;
    font-size: inherit;
  }
  .faq-text a{
    color: inherit;
  }
  
  
  /* Form Message Sent CSS */
  #form-response {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
  }
  #form-response.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  #form-response.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }


  @media screen and (max-width: 1300px) {
    #header{
      padding: 14px 25px;
    }
  }
  @media screen and (max-width: 950px){
    #nav{
      gap: 15px;
      margin-left: 20px;
    }
    #nav .nav-link{
      font-size: 14px;
    }
    .contact-btn{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 768px){
    #nav{
      display: none;
    }
    .contact-header{
      display: none;
    }  
    .mobile-btn{
      display: flex;
    }
  }
  @media screen and (max-width: 600px) {
    .faq-section{
      padding: 15px;
    }
    .faq-title{
      font-size: 18px;
    }
    
  }
  @media screen and (max-width: 500px){
    .main-title{
      font-size: 32px;
    }
    .page-title{
      font-size: 24px;
    }
    .faq-title{
      font-size: 18px;
    }
    .faq-text{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 430px){
    .top-section{
      min-height: 280px;
      padding: 10px;
    }
    .legal-top{
      min-height: 200px;
    }
    #title{
      font-size: 24px;
    }
    .subtitle{
      font-size: 12px;
    }
  }
  
@media screen and(max-width: 400px){
    .faq-question{
      font-size: 16px !important;
    }
    .faq-answer{
      font-size: 14px !important;
    }
  }